## Nominal/OHE Encoding

*Nominal encoding, commonly referred to as One-Hot Encoding (OHE), is a technique used to convert categorical data—specifically nominal variables—into a numerical format suitable for machine learning algorithms*

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [3]:
## Creating a dataframe
df=pd.DataFrame({'color':['red','green','blue','blue','red','green']})

In [4]:
df.head()

   color
0    red
1  green
2   blue
3   blue
4    red

In [5]:
#Create an instance of OneHotEncoder
encoder=OneHotEncoder()

In [7]:
#Perform fit and transform
encoded=encoder.fit_transform(df[['color']]).toarray()

In [8]:
encoder_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [9]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         0.0          1.0        0.0
2         1.0          0.0        0.0
3         1.0          0.0        0.0
4         0.0          0.0        1.0
5         0.0          1.0        0.0

In [14]:
pd.concat([df,encoder_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1  green         0.0          1.0        0.0
2   blue         1.0          0.0        0.0
3   blue         1.0          0.0        0.0
4    red         0.0          0.0        1.0
5  green         0.0          1.0        0.0